@(paper: Paper)

<!DOCTYPE html>
<html>
    <head>
        <title>Show Results</title>
    </head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <body>
        <h1>Here are the results of your query:</h1>
        <p>Paper Title: @paper.paperTitle</p>
        <p>Paper URL: @paper.paperUrl</p>
        <p>Paper Summary: @paper.paperAbstract</p>

    </body>
</html>